/* Global Styles */
html {
    box-sizing: border-box;
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1.25rem;
    line-height: 125%;
    color: #50504F;
  }

* ,
* ::before ,
* ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}
  
h1, h2 {
font-family: 'Abril Fatface', cursive;
text-align: center;
}

header {
background-color: #333;
color: #fff;
padding: 20px;
}

nav ul {
list-style: none;
padding: 0;
margin: 0;
text-align: center;
}

nav ul li {
display: inline-block;
margin: 0 10px;
}

nav ul li a {
color: #fff;
text-decoration: none;
}

nav a:hover {
    color:#333;
    background-color:white;
    padding: 20px;
    transition: all 0.3s;
}

section {
padding: 50px;
}

footer {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
}
  